<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ukko</title>
</head>
<body>
	<h1>what is safe flour?</h1>
	<p> New flour, containing gluten which is modified and synthesized in our labs. Such flour will be safe for people who suffer from Celiac, while fully functional. It is an ingredient for the food industry.</p>

	<div >
		<h2>our gluten free products:</h2>
		{%for product in products%}
		    <a href="/pro/{{ product }}">
	    <img src="{{ products[product]['img'] }}">
	    </a>
	    {%endfor%}
	</div>

</body>
</html>s