<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ukko</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">

</head>

<body>

<!-- adeems section -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <h1><img src="https://static.wixstatic.com/media/feedb0_d7899fb9f74d4ea1869208a55c94237a~mv2_d_3000_1500_s_2.png/v1/fill/w_84,h_40,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/feedb0_d7899fb9f74d4ea1869208a55c94237a~mv2_d_3000_1500_s_2.png" alt="" style="width:84px;height:40px;object-fit:cover" width="84" height="40" srcset="https://static.wixstatic.com/media/feedb0_d7899fb9f74d4ea1869208a55c94237a~mv2_d_3000_1500_s_2.png/v1/fill/w_84,h_40,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/feedb0_d7899fb9f74d4ea1869208a55c94237a~mv2_d_3000_1500_s_2.png 1x, https://static.wixstatic.com/media/feedb0_d7899fb9f74d4ea1869208a55c94237a~mv2_d_3000_1500_s_2.png/v1/fill/w_168,h_80,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/feedb0_d7899fb9f74d4ea1869208a55c94237a~mv2_d_3000_1500_s_2.png 2x" fetchpriority="high"></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>         
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">Learn</a></li>        
          <li><a href="#Products">Products</a></li>   
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

<section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets/img/portfolio/app-1.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>


        <div class="row justify-content-between gy-4 mt-4">

          <div class="d-flex align-items-center">
            <div class="portfolio-description">
              <h2> {{ product["title"] }} </h2>
              <p>
                {{ product["text"] }}
              </p>
              <p>
              </p>

              <p>
              </p>
              <p>
                
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Reviews</h2>
          <p></p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

          {% for review in reviews %}

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    {{ reviews[review]['review'] }}
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
          {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Add Review</h2>
          <p></p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="d-flex align-items-center">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="review" rows="2" placeholder="Review Text" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your review has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Review</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>